.displayAllEvents {
	display: flex;
	position: absolute;
	flex-direction: column;
	margin-top: 9rem;
}

.allEventsList {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	margin-left: 1rem;
}

.descAll {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	margin-left: .5rem;
}

.eventFiltInp {
	width: 13rem;
	margin-top: -2rem;
}

.eventFiltInp {}

.allEventsList {}

.timeDisplay {
	display: flex;
	flex-direction: row;
}